{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

<header class="w-900">
</header>


<div>
 
    <img src="{% static 'images/download.jpeg'%}" alt="backgroung" class="absolute inset-0 w-full h-full object-cover z-0" >
       
      
    </div>
  </div>
  <div class="max-w-7xl mx-auto relative">
    <div class="relative py-16 flex justify-center px-4 sm:px-0">
      <div class="max-w-3xl text-center">
        <div class="pb-4">
          <span class="inline-flex items-center rounded-2xl bg-lime-100 px-4 py-1.5 text-xs sm:text-sm font-serif font-medium text-lime-700">Where elegance meets reality.</span>
        </div>
        <h1 class="text-4xl sm:text-5xl font-semibold text-white xl:text-6xl font-serif !leading-tight">
          MAYONDO WOOD AND FURNITURE
        </h1>
        <p class="mt-4 text-lg sm:text-xl leading-8 text-white sm:px-16" style="white-space: pre-line;"></p>
        <div class="flex justify-center">
        <a href="{% url 'login' %}">
          <button type="button"
            class="mt-6 px-8 py-3 text-base font-medium text-white bg-yellow-500 rounded-full shadow-lg hover:bg-yellpw-300 md:py-4 md:text-2xl md:px-10">
            Get Started
          </button>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-black py-4" style="color: gold;">
  
<div class="container mx-auto text-center text-sm px-4">
<p>© 2025 Mayondo Wood and Furniture. All Rights Reserved. Designed by Racheal Acio.</p>
</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>
